flask~=3.0.0
--extra-index-url https://test.pypi.org/simple f1_racing_reports~=0.0.2
pytest~=7.4.4
flask_restful
xmltodict~=0.13.0
peewee~=3.17.0
flasgger~=0.9.7.1
requests~=2.31.0
f1_racing_reports~=0.0.2